

<div class='my_casts_list zmw1000'>
<!--   <h4> I teach: </h4> -->

<!--         <div class='alert_message'>
      You have no courses yet. <a href='/create'>Click to create your first one</a>.
    </div> -->


  <%  user_casts = $casts.all(user_id: user_id) %>
  <% if user_casts.any? %>
  <br/>
  <%#= erb :'casts/casts_list', locals: {casts: user_casts, is_owner: true, show_enrolls: true} %>      
  <%= erb :'rafaeli/positions/positions_list', locals: {casts: user_casts, is_owner: true} %>      
  <% else %>
    <h3 class='ct no_data_yet'>My app templates</h3>
  <% end %>
  <div class=ct style='margin-top: 40px'>
  <a href='/casts/edit/new?type=cast' class='btn2'>+ add </a>
  </div>
</div>