<style>
.pro_benefits li {
  background-color: whitesmoke;
  margin-top:10px;
  padding: 10px;
}
</style>

<h3> A pro account gives you the following benefits: </h3>
<!-- <small> Last updated: Oct 20th, '21. </small> -->
<ul class='pro_benefits'>
  <li>A "verified" checkmark and pro sign on your profile in search results. <i class='fas fa-badge-check'></i></li>

  <li>Precedence in search results over non-pro accounts.</li>
  <li>Support for video reviews, including 1 pro video interview, shot and supplied by us.</li>
  <li>Limited time offer: 0% commission on projects.</li>
</ul>
<div>For any questions please email <a href='mailto:hi@indydevs.com'>hi@indydevs.com.</a></div>