<style>
.coming_soon {
  text-align: center;
}
.rafaeli_io_coming_soon  {
  zborder:1px solid red;
  padding: 20px;
  display: flex;
  font-family: Raleway;
}
.half {
  flex:1;
}
.name {
  font-weight: bold;
  color: #30ccff;
  font-family: monospace;

}
</style>
<div class='coming_soon'>

<h4> </h4>
<br/>
<!-- <h1> Meet The Founders You'll Want to Invest In. </h1> -->
<div class='rafaeli_io_coming_soon'>

  <div class='left_half half'>
    <h5>  </h5>
    <h1> <span class='name'>rafaeli</span> is a marketplace for <br/>Software Development as a Service. </h1>

    

    <%#= erb :'home/login' %>
    
    <form action=/beta_signup method=post>
        <div><label> Sign up for waitlist: </label></div>
        <br/>
        <input class=input1 placeholder='me@startup.com' />
        <button class='btn btn-raised btn-primary'>submit</button>
    </form>
    <br/>
    <!-- <div><a style='font-size: 70%' class='' href=mailto:hi@ex8200.com>hi@rafaeli.io</a></div> -->
  </div>
  <div class='right_half half'>
    <img class=main_pic height=300px src='https://i.imgur.com/PlZMplg.png' />  
  </div>
</div>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">