<style>
.coming_soon {
  text-align: center;
}
</style>
<div class='coming_soon'>

<h4> Beta. </h4>
<h1> Coming Soon. </h1>

<p> Questions? Try <a href=mailto:hi@ex8200.com>hi@ex8200.com</a> or 
  <a href=mailto:sella.rafaeli@gmail.com>sella.rafaeli@gmail.com.</a>
  <br/>
  <br/>
  <br/>
  <img height=300px src='https://i.imgur.com/s8FaXwJ.png' />
</p>
</div>