<%
  halfscreen_mode = locals[:halfscreen_mode]
%>


<style>
.coming_soon {
  text-align: center;
}
.rafaeli_io_coming_soon  {
  zborder:1px solid red;
  padding:0 20px;
  display: flex;
  flex-wrap: wrap;
}
.half {
  flex:1;
}
.name {
  font-weight: bold;
  color: #30ccff !important;
  font-family: monospace;
  padding-left: 5px;
  font-size: 20px;
  max-width: 300px;
}
.main_pic {
  width: 350px;
}
.img_caption {
  padding: 10px;
}
.apply_box {
text-align: center;
    padding: 20px 10px;
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
    width: 30%;
    display: inline-block;
    margin: 20px;
    font-size: 16px;
}

.main_title {
  line-height: 1.4;
  /*font-weight: bold;*/
  margin: 12px
}

.mid_title {
    zbackground-color: whitesmoke;
    padding: 14px;
    max-width: 80%;
    margin: auto;
    color: #03a9f4;
    color: var(--color1);
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    /* padding-left: 140px; */
    /* border: 1px dashed #03a9f4; */
    font-family: monospace;
}

.img_caption a {
  color: black;
}

.lower_title {
  line-height: 30px;
}
</style>
<div class='coming_soon'>

<h4> </h4>
<br/>
<!-- <h1> Meet The Founders You'll Want to Invest In. </h1> -->
<div class='rafaeli_io_coming_soon'>

  <div class='left_half half'>
    
    <!-- <h4 class='main_title'>Hire</h4> -->    
    <h1 class='mid_title'> 
      Professional Software Developers.
      <!-- Software Developers <br/>as a Service<br/> -->
      <!-- Software Development as a Service -->
    </h1>
    <!-- <h3 class=''>We connect verified senior developers and teams <br/> with startups around the world. </h3> -->
    
    <h3 class='lower_title'>
      <!-- A Private Network of 
      <br/> -->
      <!-- We showcase elite global talent <br/> -->
      <!-- so you can hire vetted professionals. -->
      <!-- Choose elite global talent  -->
      
      <!-- Hire the best developers <br/> in the country. -->

      <!-- Open for business. -->
      We'll build whatever you need.
    <!--   <br/>
      No-risk trial; pay only if satisfied -->

      <!-- to hire developers -->
      <!-- for hire on a monthly retainer. -->
      <!-- Verified senior developers for hire. -->
    </h3>
    <!-- <h3 class='lower_title'>
      Choose from our elite network of 
      <br />  
      verified senior developers and teams
      <br/>
      available on a monthly retainer
    </h3> -->

    <!-- <div style='font-size: 20px'>For quality software, choose <b>Rafaeli.</b></div> -->

    <!-- <h3 class='lower_title'><br /> available on a monthly retainer.</h3> -->
    <!-- <h3 class=''>We connect <br/> Senior Developers! </h3> -->
    
    <!-- <h5> <b>You can <span class='name' style='font-size: 24px'>
    <a href='/signup?type=buyer'>hire awesome developers</a></span> or <a href='/signup?type=seller'>apply to be hired.</a></b> 
    </h5> -->
    

    <%#= erb :'home/login' %>
    
    

    <a class='apply_box btn btn-primary btn-raised btn-info' href='/search' style='width: auto; line-height: 1.5;'>
        <!-- Hire Elite Talent <i class='fa fa-rocket' style='margin-left: 5px'></i> -->
        Hire Top Developers <span style='display: inline-block; margin-left: 5px'>🚀</span>
    </a>

    <% unless halfscreen_mode %>
    <br/>

    <a class='zapply_box btn zbtn-raised btn-info' href='/search' style='width: auto; line-height: 1.5; font-size: 14px'>
        Browse Talent <i class='fa fa-search' style='margin-left: 5px'></i>
    </a>
    <% end %>



    
    <div>
    <!-- <a class='btn btn-sm' href='/search'> Browse Developers </a> -->
    <!-- <a class='btn btn-sm' href='/login'> Members Login </a> -->
    <!-- <a class='btn btn-sm' href='/about'> About Us </a> -->
  </div>

    <br/>
    <!-- <div><a style='font-size: 70%' class='' href=mailto:hi@ex8200.com>hi@rafaeli.io</a></div> -->
  </div>
  <% unless halfscreen_mode %>
  <div class='right_half half'>
    <!-- <img class=main_pic height=300px src='https://i.imgur.com/PlZMplg.png' />   -->
    <img class=main_pic src='https://i.imgur.com/SrCq3xY.png' />
    <div class='img_caption'>
      <a href='/@sella rafaeli1'>Sella Rafaeli,</a> 
      <a href='/search?q=tel aviv'>Tel Aviv</a> 
      <br/>
      <a href='/search?q=ruby,javascript'>Ruby, JavaScript</a>: $10-30K a month
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <% end %>
</div>

  <%= erb :'rafaeli/homepage/langs' %>    
  <%= erb :'rafaeli/homepage/countries' %>    
    

<%
  trusted_by = [
    'https://i.imgur.com/rtvfBlu.png',
    'https://i.imgur.com/4lYKeZP.png',
    'https://i.imgur.com/aMidOTM.png',
    'https://i.imgur.com/8hrFhro.png',
    'https://i.imgur.com/JdUZO97.png',
    'https://i.imgur.com/G5OB8Q4.png',
    'https://i.imgur.com/I8z9yxN.png',
    'https://i.imgur.com/dB5tWJY.png'
  ]
%>
<div class=ct>
  <div class='ct' style='max-width: 850px; margin: auto'>
    <h3 style='margin-bottom: 20px'> Trusted By</h3>
    <% trusted_by.each_with_index do |img, idx| %>
      <img style='width: 150px' src='<%=img%>' />
    <% end %>
  </div>
  <!-- Find and hire elite developers at <a href='https://www.rafaeli.io'>rafaeli.io.</a> -->
</div>
</div>