<style>
.coming_soon {
  text-align: center;
}
.rafaeli_io_coming_soon  {
  zborder:1px solid red;
  padding: 20px;
  display: flex;
  font-family: Raleway;
}
.half {
  flex:1;
}
.name {
  font-weight: bold;
  color: #30ccff !important;
  font-family: monospace;
  padding-left: 5px;
  font-size: 20px;
  max-width: 300px;
}
.img_caption {
  padding: 10px;
}
.apply_box {
text-align: center;
    padding: 20px 10px;
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
    width: 30%;
    display: inline-block;
    margin: 20px;
}

.main_title {
  line-height: 1.4;
  font-weight: bold;
}

</style>
<div class='coming_soon'>

<h4> </h4>
<br/>
<!-- <h1> Meet The Founders You'll Want to Invest In. </h1> -->
<div class='rafaeli_io_coming_soon'>

  <div class='left_half half'>
    
    <h1 class='main_title'> 
      <!-- <span class='name'><a href='/signup?type=buyer'>A network of the world's top professional developers.</a></span> <br/> -->
      <!-- <br/> -->
      World-class tech talent, available <br/> on a monthly retainer. </h1>
    
    <!-- <h5> <b>You can <span class='name' style='font-size: 24px'>
    <a href='/signup?type=buyer'>hire awesome developers</a></span> or <a href='/signup?type=seller'>apply to be hired.</a></b> 
    </h5> -->
    

    <%#= erb :'home/login' %>
    
    <form action=/beta_signup method=post>
        <!-- <div><label> Sign up for waitlist: </label></div>
        <br/>
        <input class=input1 placeholder='me@startup.com' />
        <button class='btn btn-raised btn-primary'>submit</button>
-->
      <!-- <a class='apply_box btn btn-raised btn-primary' href='/signup?type=seller&subtype=talent'>
        Browse
      </a> -->
        <div> 
          <a class='apply_box btn btn-raised btn-primary' href='/signup?type=seller&subtype=talent'> Apply as talent </a>
          <a class='apply_box btn btn-raised btn-info' href='/signup?type=buyer&subtype=startup'> Apply as startup </a>
        </div>
    </form>
    <br/>
    <!-- <div><a style='font-size: 70%' class='' href=mailto:hi@ex8200.com>hi@rafaeli.io</a></div> -->
  </div>
  <div class='right_half half'>
    <img class=main_pic height=300px src='https://i.imgur.com/PlZMplg.png' />  
    <div class='img_caption'><a href='/profiles/123'>John Bakilov</a> <a href='/search?q=london'>(London),</a> <a href='/search?q=python'>Python</a>: $10-30K a month.<br/>. 
      <br/>
      <br/>
    </div>
  </div>
</div>
<div class=ct>
  <!-- Find and hire elite developers at <a href='https://www.rafaeli.io'>rafaeli.io.</a> -->
</div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">