<style>
.single_chip {
  background-color: darkblue;
  padding: 1px 10px;
  margin-right: 1px;
  color: white;
}
</style>

<span class='chips-list'>
  <% get_user_chips(user).each do |chip| %>
    <span class='single_chip'>
      <span class='chip-emoji'>
        <%= 'â˜‘ï¸' if chip == 'verified' %>
        <%= 'ðŸ¤—' if chip == 'popular' %>
      </span>
      <span class='chip-text'><%= chip %></span>
        
    </span>
  <% end %>
</span>