<style>
.single_chip {
  background-color: darkblue;
  padding: 1px 10px;
  margin-right: 1px;
  color: white;
}
</style>

<span class='chips-list'>
  <% get_user_chips(user).each do |chip| %>
    <span class='single_chip'>
      <span class='chip-emoji'>
        <%= 'â˜‘ï¸' if chip == 'verified' %>
        <%= 'ðŸ¤—' if chip == 'popular' %>
        <% if chip.include? 'ruby' %>
          <img src='https://i.imgur.com/MKhrsv3.png' style='height: 15px; width: 15px; margin-right: 10px' />        
        <% end %>

        <% if chip.include? 'js' %>
          <img src='https://imgur.com/ezCw9Zo.png' style='height: 15px; width: 15px; margin-right: 10px' />        
        <% end %>      
      </span>
      <span class='chip-text'><%= chip %></span>
        
    </span>
  <% end %>
</span>