<% if !@chips_css %>
<% @chips_css = true %>

<style>
.single_chip {  
  padding: 1px 10px;
  margin-right: 1px;
  color: white;
  font-size: 12px;
  color: white;
  background-color: goldenrod;
  /* background-color: darkgoldenrod; */
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 5px;
}
</style>
<% end %>

<span class='chips-list'>
  <% get_user_chips(user).each do |chip| %>
    <span class='single_chip'>
      <span class='chip-emoji'>
        <% if chip == 'available' %>        
        <span style='color: lightgreen'>â¬¤ </span>
        <% end %>

        <%= 'â˜‘ï¸' if chip == 'verified' %>
        <%= 'ðŸ¤—' if chip == 'popular' %>
        <% if chip.include? 'ruby' %>
          <img src='https://i.imgur.com/MKhrsv3.png' style='height: 15px; width: 15px; margin-right: 10px' />        
        <% end %>

        <% if chip.include? 'js' %>
          <img src='https://imgur.com/ezCw9Zo.png' style='height: 15px; width: 15px; margin-right: 10px' />        
        <% end %>      
      </span>
      <span class='chip-text'><%= chip %></span>
        
    </span>
  <% end %>
</span>