<h1> About IndyDevs </h1>

<p>
IndyDevs - styled <i>indydevs</i> - is a platform for elite freelance software developers. We aim for around the top 100 software developers in each country, more or less. 
</p>

<p>
Our business model is that we find the elite software developers, and for a fee, we include them in our marketing plan. Then we pay for the marketing.
</p>

<p>
In a sense, our marketing *is* our product. If nobody knew about us, then we would not be of much value. It is the very fact that people know us, that makes us valuable. 
</p>

<p>
Specifically, we market to people who hire elite freelance software developers. The buyer personas for freelance developers are usually one of the following:
</p>

<ol>
  <li> An early non-technical founder, hiring a CTO-as-a-service, fractional CTO, etc. </li>
  <li> An early technical founder hiring developer firepower to augment an existing team. </li>
  <li> An engineering manager hiring augmentation or a subject matter expert. </li>
</ol>

<p>
So, we market to this group. Founder and Engineering Managers; usually VP R&D in a still smallish startup. 
</p>

<p>
In addition to individuals acting as freelancers, some freelance developers hire employees underthem, forming a "dev shop". The lines can get blurred sometimes between an individual freelancer and a dev shop, but dev shops have the capacity to grow to huge organizations. Turing and Toptal are examples of organizations that at least portray themselves as employing a large number of developers.
</p>

<p> Our marketing channels include the following: </p>
<ol>
  <li>LinkedIn networking</li>
  <li>Original Content posted in online social media, mainly text posts posted in forums for developers and startup founders.</li>
  <li>LinkedIn ads</li>
  <li>Google Ads</li>
</ol>

<p>
Once a month we go over the numbers to see how each vector performed. Each vector leads to a different signup page, which lets us track the performance of each vector. 
</p>

<p>
From a business perspective, each freelancer pays us an average of X to be included on the platform and enjoy our marketing budget. We make $X*N, where N is the number of freelancers we represent, and X is the average amount each one pays us. We invest 0.5 NX in our marketing budget; 0.3 NX for operations and salaries, and 0.2X dividend for shareholders or reinvest in growth (although our marketing IS our growth). Once we are profitable and stable, we will move to growth, which means to replicate the above model in new markets. (We are starting in the Tel Aviv dev marketplace.)
</p>

<p>
We are looking for help to lead this marketing campaign. Can we afford you right now? 
</p>