We market Israeli dev teams to American startups. We handle payments (US-IL). We guarantee work quality. 

<p>
We take 10% commission. We advise to arrange a monthly retainer fee, but we respect any arrangement made between both parties. We encourage reviews from both parties in order for us to continuously serve only the best developers and customers. 

</p>

<p>
We find American startups looking for dev teams by content marketing. Or rather, we help them find us. 
</p>

<p>
You should hire us because our teams are probably the best in the world. The Israeli tech scene is extremely diverse and competitive. Jewish culture places a fanatical emphasis on education; software developers in Israel are a very large social class held in very high esteem. Software development is an elite occupation.
</p>

<p>
We market: by posting online on forums like this one.
</p>

<p>
Are you looking for extremely talented dev teams and developers, with great communication skills, used to speaking American English, with Americans, at American work hours, and often with an American team leader, manager, or liasion? 
</p>

<p>
Let's talk. hi@indydevs.com.
</p>