Hey, thanks for joining <a href='https://www.indydevs.com'>indydevs</a>! :) 
<br/>
<br/>

<% if rand > 0.5  %>
We started indydevs in order to connect startups with senior developers - both full-time and "developers as a service". In this new era of remote work, our options of connecting and working together are changing the way we collaborate and how we deliver software development.
</br>
</br>
<% end %>

<% if rand > 0.5 %>
Software development as a service offers many exciting new opportunities for connecting startups with developers all over the world. Working together remotely has more in common  with real life than with static or even dynamic websites. This is the future we've been waiting for! ;) 
<br/>
<br/>
<% end %>

<% if rand > 0.5 %>
We are super excited to see the various kinds of collaboration we will see. We currently have startups in industries from crypto to big data, autonomous cars to agTech, tourism to smart cities; and we have independent developers from all over the world (although mostly Israel!). You get the idea - if you're a developer, find your startup. If you're a startup, find your developers! 
<br/>
<br/>
<% end %>

<% if rand > 0.5 %>
It's an exciting time to be hiring or working in software development as a service! 
<br/>
<br/>
<% end %>

<% if rand > 0.5 %>
If you need anything you can email our customer support team (this email) and we'll do our best to help. We’re big on user satisfaction, so if you want us to help you make your own videos, we’d love to help. That’s what we're here for. Go to <a href="https://www.indydevs.com">https://www.indydevs.com</a> and we'll take it from there. 
<br/>
<br/>
<% end %>

Thanks for being with us! We hope you have a good day. :)
<br/>
<br/>
-Sella Rafaeli, Founder & CEO
<br/>
<a href="mailto:sella@indydevs.com">sella@indydevs.com</a>