<% 
  
  # pr[:type]    = 'seller' # everybody's a developer
  # pr[:subtype] = 'talent' # no reason?

  # if pr[:type] && pr[:subtype]
  if true
%>

<h3 id=signup> 
  
<% if true %>
<%#= is_heb ? 'ברוכים הבאים.' : "Apply as #{pr[:subtype]}" %>
<%= is_heb ? 'ברוכים הבאים.' : 'Apply to join IndyDevs' %>

<% else %>
<%= is_heb ? 'ברוכים הבאים.' : "Sign Up for Beta:" %>
<% end %>


<div>
  <small><a class=simple_link href='/login'>or sign in</a></small>
</div>
</h3>
<form action='/signup' method='post'>
  <%= erb :'login/signup_fields', locals: {only_signup: true} %>
</form>

<% else %>

<style>
.apply_btn {
  width: 300px;
  display: inline-block;
}
</style>
<div class=ct> 
          <!-- <a class='apply_box btn btn-raised btn-info' href='/search'> Browse </a> -->
          <h2>Oh, exciting! Let's do this. </h2>
          Register...
          <div style='margin-top:10px'>
            <a class='apply_btn zapply_box btn btn-sm btn-raised btn-primary' href='/signup?type=seller&subtype=talent'> as a talent </a>
            
            <!-- <span style='display: inline-block; width: 20px'></span> -->
            <div style='margin-top:0px'></div>
            <a class='apply_btn zapply_box btn btn-sm btn-raised btn-primary' href='/signup?type=seller&subtype=team'> as a team </a>
            
            <% if true %>
            <!-- <span style='display: inline-block; width: 20px'></span> -->
            <div style='margin-top:0px'></div>
            <a class='apply_btn zapply_box btn btn-sm btn-raised btn-primary' href='/signup?type=buyer&subtype=startup'> as a startup </a>
            <% end %>
          </div>
        </div>
<% end %>