<%
  trusted_by = [
    'https://i.imgur.com/rtvfBlu.png',
    'https://i.imgur.com/4lYKeZP.png',
    'https://i.imgur.com/aMidOTM.png',
    'https://i.imgur.com/8hrFhro.png',
    'https://i.imgur.com/JdUZO97.png',
    'https://i.imgur.com/G5OB8Q4.png',
    'https://i.imgur.com/I8z9yxN.png',
    'https://i.imgur.com/dB5tWJY.png'
  ]
%>

<style>

.trusted_by_img {
  width: 80px;
}

@media screen and (min-width: 1000px) {
  .trusted_by_img { width: 150px; }
}

</style>

<div class=ct>
  <div class='ct' style='max-width: 850px; margin: auto'>
    <h3 style='margin-bottom: 20px'> Trusted By</h3>
    <% trusted_by.each_with_index do |img, idx| %>
      <img class='trusted_by_img' src='<%=img%>' />
    <% end %>
  </div>
  <!-- Find and hire elite developers at <a href='https://www.rafaeli.io'>rafaeli.io.</a> -->
</div>
</div>


