<style>
.black {
  display: flex;
  
}
.left {
  flex:6;
  zborder: 1px solid white;
  text-align: center;
  margin-top: 40px;
}

.right {
  flex:2;
}

.hero {
  font-size: 50px;
}

</style>
<div class='black'>
  <div class='left'>
    <h1 class='hero'> Elite web developers, <br/> 
      <div class='submsg'>as a service. </div>
      <div>
        <img src="https://uploads-ssl.webflow.com/5fac11c3554384e2baf6481c/61c4dc7572d22f05ba26fd34_hero-underline.svg" loading="lazy" alt="" class="image-5">
      </div>
    </h1>
    <h2> An exclusive network of the world's best freelance developers. </h2™>
    

    <div>
      <p>
        A modern sales platform connecting innovative companies with an elite remote sales force to drive revenue.
      </p>
    </div>
  </div>

  <div class='right'>
  </div>
  
</div>
