<style>
.search_and_homepage {
  zdisplay: flex;
}
.hero_msg {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  font-family: 'Poppins';
}
</style>

<div class='search_and_homepage'>
  
  <div class=flex1 style='margin-top:40px'></div>

  <div class='hero_msg'>
    Easy to hire <br/><span style='color: #ab1234'>independent</span> developers. <span style='position: relative; top: 3px'>😎</span>
  </div> 
  
  

  <div><%= erb :'rafaeli/search' %></div>  
  <div class=flex1 style='border-right:2px dashed whitesmoke; padding-right: 10px; margin-right: 10px'><%= erb :'coming_soon', locals: {halfscreen_mode: true} %>    
  </div>
  
  <br/>

  <div class='mw1000'>
    <%= erb :'other/how_it_works' %>
  </div>

  <br/>

  <div class='mw1000'>
    <%= erb :'other/contact' %>
  </div>
</div>