<style>
.search_and_homepage {
  zdisplay: flex;
}
.hero_and_img{
  max-width: 850px;
  margin: auto;  
  margin-bottom: 20px;
  font-size: 35px;
  font-family: 'Poppins';
}
@media screen and (max-width: 900px) {
  .hero_and_img {
    flex-direction: column;
    text-align: center;
  }  
}
.main_pic {
  width: 200px;
}
.main_img_container {
  text-align: center;
  justify-content: center;
  zdisplay: flex;
  align-items: start;
  padding-top: 15px;
}
.img_caption {
  padding: 10px;
  font-size: 12px;
}
</style>

<div class='search_and_homepage'>
  
  <div class=flex1 style='margin-top:40px'></div>

  <div class='hero_and_img display_flex'>
    <div class='hero_msg flex1'>    
      <div style='color: #0e1104; font-size: 24px' class='minimsg'>the best</div>
      <div style='color: var(--color2)'>independent</div>
      <div style='color: var(--color1)'>software developers</div>
      <div style='color: #0e1104; font-size: 24px; text-align: right; position: relative; right: 20px' class='minimsg'>for hire </div>
      <br/>
    </div> 

    <div class='main_img_container flex1'>
      <img class=main_pic src='https://i.imgur.com/SrCq3xY.png' />
      <div class='img_caption'>
        <a href='/@sella rafaeli1'>Sella Rafaeli,</a> 
        <a href='/search?q=tel aviv'>Tel Aviv</a> 
        <br/>
        <a href='/search?q=ruby,javascript'>Ruby, JavaScript, Fullstack</a>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
  
  <div><%= erb :'rafaeli/search' %></div>  
  
  <div class='mw1000'>
    <%= erb :'other/how_it_works' %>
  </div>

  <br/>  
</div>