<%
  all_sellers = get_all_sellers

  verified_sellers = all_sellers.select {|u| is_verified(u) }
%>
<style>
.search_and_homepage {
  zdisplay: flex;
}
.hero_and_img{
  max-width: 850px;
  margin: auto;  
  margin-bottom: 20px;
  font-size: 35px;
  font-family: 'Poppins';
}
@media screen and (max-width: 900px) {
  .hero_and_img {
    flex-direction: column;
    text-align: center;
  }  
}
@media screen and (min-width: 900px) {
  .main_pic {
    position: relative;
    left: 100px;
  }
}
.main_pic {
  width: 400px;
}
.main_img_container {
  text-align: center;
  justify-content: center;
  zdisplay: flex;
  align-items: start;
  padding-top: 15px;
}
.img_caption {
  padding: 10px;
  font-size: 12px;
}
.top_hero_container {
  background-color: var(--color1);
}
.hero_btns {
  margin-top: 25px;
  ztext-align: center;
}
.hero_btns .btn {
  min-width: 35%;
  display: inline-block;
  text-align: center;
}
</style>

<div class='search_and_homepage'>
  
  <div class='top_hero_container'>
    <div class=flex1 style='padding-top:40px'></div>

    <div class='hero_and_img display_flex'>
      <div class='hero_msg flex1'>    
        <div style='color: var(--color2); font-size: 24px' class='minimsg'>hire the best</div>
        <div style='color: white'>independent</div>
        <div style='color: white'>software developers</div>
        <div style='color: var(--color2); font-size: 24px; text-align: right; position: relative; right: 20px' class='minimsg'>on a monthly retainer</div>

        <div class='hero_btns'> 
          <a href='/request_quotes' class='btn btn-raised btn2'> Request Quotes </a>
          <a href='/search' class='btn btn-raised btn2'> Search Developers </a>
        </div>
      </div>



      <div class='main_img_container flex1'>
        <% verified_sellers.each do |user| %>
          <!-- <img class=main_pic src='https://i.imgur.com/SrCq3xY.png' /> -->
          <!-- <img class=small_main_pic src='<%=user[:img_url]%>' /> -->
        <% end %>

        <!-- <img class=main_pic src='https://imgur.com/1lpnHRQ.png' /> -->
        <!-- <img class=main_pic src='https://imgur.com/cpilXcm.png' /> -->
        <img class=main_pic src='https://imgur.com/K7gHEUU.png' />


        <% if false %>
          <div class='img_caption'>
            <a href='/@sella rafaeli1'>Sella Rafaeli,</a> 
            <a href='/search?q=tel aviv'>Tel Aviv</a> 
            <br/>
            <a href='/search?q=ruby,javascript'>Ruby, JavaScript, Fullstack</a>
            <br/>
            <br/>
            <br/>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div><%#= erb :'rafaeli/search' %></div>  
  
  <div class='mw1000'>
    <%= erb :'other/how_it_works' %>
  </div>

  <br/>  
</div>