<style>
.zen {
  max-width:600px;
  margin: auto;
  padding: 20px;
  line-height: 30px
}
.zen p, .zen button {
  font-size: 20px;
}
.zen b {
  color: var(--color1);
}
</style>

<div class='zen'>
  <h1>Hire Rockstars</h1>
  
  <p>
    Elite developers, <!-- <br/> -->ready to impress.
  </p>

  <div style='text-align: right'>
    <button class='btn2'>Hire</button>
  </div>

</div>
