<style>
.zen {
  max-width:600px;
  margin: auto;
  padding: 20px;
}
.zen p {
  font-size: 20px;
}
.zen b {
  color: var(--color1);
}
</style>

<div class='zen'>
  <h1>indydevs.</h1>
  
  <p>
    <b><a class=simple_link>Elite developers</a></b>, 
    <!-- <br/> -->
    available on a monthly retainer.
  </p>

  <div style='text-align: right'>
    <button class='btn2' >Hire</button>
  </div>

</div>
