<style>
.zen {
  max-width:900px;
  zmargin: auto;
  zmargin-left: 100px;
  padding: 20px;
  line-height: 30px;
  text-align: center;
}
.zen h1 {
  font-size: 40px;
}
.zen p, .zen button, .zen a {
  font-size: 30px;
}
.zen b {
  color: var(--color1);
}
</style>

<!-- Create a website you're proud of
Discover the platform that gives you the freedom to create, design, manage and develop your web presence exactly the way you want.

Get Started
Try Wix. No credit card required -->
<div class='zen'>
  <h1> Get the web app you want.</h1>
  <br/>
  <p> Discover the platform that creates web applications exactly the way you want them.</p>

  <p> Pay only if satisfied. </p>

  <div>
    <a href='/contact' class='btn2'>Let's talk</a>
  </div>

</div>
