<style>
.request_quotes_screen {
  zbackground-color: var(--color1);
  padding: 10px;
}
.request_quote_form_section {
  margin-bottom: 20px;
}
.request_quote_form_section label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
</style>

<div class='request_quotes_screen'>
  <h2> Request Quotes </h2>

  <p>
    Post what you're looking to build - get quotes from developers around the world.  
  </p>

  <form method=post action=/job class='request_quote_form'>
    <div class='request_quote_form_section'>
      <label> Your Email </label>    
      <input required class=input1 placeholder='Email'>
    </div>

    <div class='request_quote_form_section'>
      <label> Title </label>
      <input required class=input1 placeholder='Title'>
    </div>

    <div class='request_quote_form_section'>
      <label> Details </label>
      <p> Give as much information as you can.</p>
      <textarea required class=input1 style='min-width: 300px; max-width: 80%' placeholder='Details'></textarea>
    </div>

    <button class='btn btn-raised btn2'>Submit</button>
  </form>
</div>