<%
  posts = $blog.all
%>

<h1> Blog </h1>

<div class='posts_list'>
<% posts.each do |post| %>
  <% 
    if !post[:hidden] || is_admin 
  %>
  <div class='single_post'>
    <% 
      orig_title = post[:orig_title] || post[:title] 
    %> 
    <a href='/blog/<%=post[:_id]%>/<%=slugify(orig_title)%>'><%= post[:title] %> </a>
    <% if post[:hidden] %>
    (HIDDEN)
    <% end %>
  </div>
  <% end %>
<% end %>
</div>

<% if is_admin %>
<br/>
<br/>
<form method=post action=/admin/blog/new_post>
  <input placeholder='author email' name=email>
  <input placeholder='title' name=title>
  <button> Add post </button>
</form>
<% end %>