<p> Paragraph one. </p>

<img style='display: block' src='https://i.imgur.com/JhdL9mJ.jpeg' height=400px />

<p> Paragraph two.   
  <a href='https://google.com'>link to google.com</a>
</p>

<ol><li> Ordered Item</li></ol>
<ul><li> Unordered Item</li></ul>