<%
  questions = [
    'What kind of projects do you do?',
    'What experience do you have?',
    'How do you structure your pricing?'
  ]
  if is_talent

  elsif is_team
  end
%>

<h3> FAQ </h3>
<% 
  10.times do |i| 
%>  
  
<% end %>
