<style>
.please_apply {
  text-align: center;
  background-color: whitesmoke;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}
</style>

<div class='please_apply'>
  <span style='color: #12abcd'>rafaeli.io</span> is a private network; Please <a href='/signup'> apply.</a>
</div>