<style>
.bottom_link {
  height: 10px;
  display: inline-block;
  font-size: 13px;
  font-size: 16px;
  padding-bottom: 12px
}

.single_experience {
  cursor: pointer;
  padding: 10px;

}
.single_experience:hover {
  background-color:whitesmoke;
}
.line_title {
  color: lightgrey;
}
.title:hover {
  text-decoration: underline;
}
.rate {
  font-weight: bold;
}
.search-results-name {
  font-weight: bold;
}
.single_result_card {
  max-width: 40%;
  display: inline-flex;
  background-color: whitesmoke;
}
.search_result_desc {
  color: rgb(77, 81, 86);
  font-size: 14px;
  margin: 10px 10px 10px 0;
  text-align: center;
}
.single_result {  
}
.top_fields {
  display: flex;
  padding:10px 5px;
}
.top_fields:hover{
  background-color:whitesmoke;
  cursor: pointer;
}
.top_field {
  flex:1;
  display: inline-block;
  font-size: 17px;
  color: var(--color1);
  margin-right: 10px;
}
.top_field_name {
  zfont-size: 120%;
}
.top_field_img_container {
  display: inline-block;
  zwidth: 50px;
  position: relative;
  bottom: 3px;
}
.top_field_img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  border-radius: 50%;
}
.small_action {

}
</style>

<div class='search_results_wrapper'>
<% if results.any? %>
  <%# results = results[0..4] %>
  <% results.each do |res| %>
    <%  user_casts = [] #$casts.all(user_id: res[:_id]) %>
    <%#= erb :'rafaeli/search/search_results/list_elem', locals: {res: res} %>
    <%= erb :'rafaeli/search/search_results/tv_box', locals: {res: res} %>
    
  <% end %>
  <%= erb :'rafaeli/search/page_numbers' %>
<% else %>
  <div class='no_results ct'>
    <br/>
    <h5> 
      No results found.
      <br/>
      <br/>
      You can <a class=simple_link href='mailto:requests@indydevs.com?subject=Request for talent'>mail us</a> for specific requests.</a>
      <div>
    </h5>
  </div>
<% end %>
</div>