
<style>
.barry-lp p {
  font-size: 30px;
}

.barry-lp .btn2 {
  font-size: 20px;
}


</style>

<div class='barry-lp container1000'>
  <h1> Barry </h1>

  <p>
    Launch an open-source web application you'll love.
  </p>

  <button class=btn2>Let's Go</button>

</div>