<div class='about center_col' style=''>
  <h1> How It Works </h1>

  <p> Startups can hire developers and teams through their profile. </p>

  <p> Verified businesses can list products for sale. </p> 

  <p> Users can order. Users can leave reviews (text, photo, video) for other users. </p> 

  <h4> See Also </h4>
  <ul>
    <div><i class='fa fa-arrow-right'></i><a href='/faq'> FAQ </a></div>
    <br/>
    <div><i class='fa fa-arrow-right'></i><a href='/articles'> Articles </a></div>
    <Br/>
    <div><i class='fa fa-arrow-right'></i><a href='/contact'> Contact </a></div>
    <Br/>
  </ul>
</div>