<div class='about center_col' style=''>
  <h1>rafaeli - hire really good developers. </h1>

  <p> We guarantee the quality of work ordered with our platform. </p>

  <p> Verified developers and teams can sell via the platform. </p> 

  <p>  </p> 

  <p> Buyers and sellers can manage their orders, purchases, reviews, conversations, images, videos. </p> 

  <p> Our marketplace connects cannabis consumers with local licensed providers and delivery services.</p> 

  <p> If you are licensed to sell in your area, sign up today. It's free. </p>

  <h4> See Also </h4>
  <ul>
    <div><i class='fa fa-arrow-right'></i><a href='/faq'> FAQ </a></div>
    <br/>
    <div><i class='fa fa-arrow-right'></i><a href='/articles'> Articles </a></div>
    <Br/>
    <div><i class='fa fa-arrow-right'></i><a href='/contact'> Contact </a></div>
    <Br/>
  </ul>
</div>