<h2> How It Works </h2>
<div class='how_it_works'>
  <div class='box1 how_it_works_box'>
    <div class='content'>1. Find developers you want</div>
  </div>

  <div class='box2 how_it_works_box'>
    <div class='content'>2. Hire them - for a project or monthly retainer</div>
  </div>

  <div class='box3 how_it_works_box'>
    <div class='content'>3. Profit </div>
  </div>
</div>
<br/>

<%#= erb :'coming_soon' %>
<%
  #img_url = 'https://i.imgur.com/HITv355.png'
  img_url  = 'https://i.imgur.com/mQJIm5R.png'
%>
<img src='<%=img_url%>' style='width: 100%'/>

<%#= erb :'/other/template_page', locals: data %>