<style>
.how_it_works {
  display: flex;
}
.how_it_works_box {
  flex: 1;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.how_it_works_box_emoji {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
.box1 {
  border: 1px solid  #abc123;  
  border-radius: 50px 0 0 0;
}
.box2 {
  background-color: #abc123;
  border:1px solid #abc123; 
}
.box3 {
  border:1px solid #abc123;
  border-radius: 0 0 50px 0;
}
.content {
  max-width: 80%;
}
</style>

<h2> How It Works </h2>
<div class='how_it_works'>
  <div class='box1 how_it_works_box'>
    <div class='content'>1. Find developers you want</div>
  </div>

  <div class='box2 how_it_works_box'>
    <div class='content'>2. Hire them - for a project or monthly retainer</div>
  </div>

  <div class='box3 how_it_works_box'>
    <div class='content'>3. Profit </div>
  </div>
</div>
<br/>

<%#= erb :'coming_soon' %>
<%
  #img_url = 'https://i.imgur.com/HITv355.png'
  img_url  = 'https://i.imgur.com/mQJIm5R.png'
%>
<img src='<%=img_url%>' style='width: 100%'/>

<%#= erb :'/other/template_page', locals: data %>