<style>
#main {
  padding:10px;
}
</style>



<div id=main contenteditable="">
  <h1> Test </h1>
  <h2> Hello World </h2>
  <h3> Subtitle </h3>
  <a href='https://google.com'>google.com</a>
  <p> foo </p>
  <br/>

  <pre><code class='language-css'>alert('hello world')</code></pre>  

  <img src='https://i.imgur.com/JhdL9mJ.jpeg' height=400px />
  
  <p><b> Bold </b> </p>
</div>







<link href="/lib/prism.css" rel="stylesheet">
<script src=/lib/prism.js></script>