<style>
#main {
  padding:10px;
}
</style>

<h1> Test </h1>

<div id=main contenteditable="">
  <h2> Hello World </h2>
  <h3> Subtitle </h3>
  <p> foo </p>
  <br/>
  <img src='https://i.imgur.com/JhdL9mJ.jpeg' height=400px />
  <p><b> bar </b> </p>
</div>